:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #010101;
}

h1 {
  font-size: 4rem;
}

a {
  color: color-mix(in srgb, whitesmoke, transparent 20%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  border-color: #2b2b2b;
}
